.product_page__wrapper{
   display: flex;
   justify-content: space-between;
   width: 100%;

.product__img{
   width: 400px;
   height: 400px;
}
 .product__information{
   display: flex;
   flex-direction: column;
   width: 50%;
}
.btnWrap{
   display: flex;
   gap: 15px;
   align-items: baseline;
}
.btn {
   width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 38px;
   font-size: 16px;
   background-color: rgba(112, 119, 210, 100%);
   color: #fff;
   transition: 0.2s;

 &:hover {
   opacity: 0.9;
   }
}
.product__label{
   font-weight: bold;
   font-size: 36px;
}
.product__price{
   font-size: 20px;
}
.btn__counter {
   font-size: 20px;
   flex-direction: row;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 38px;
   font-size: 16px;
   background-color: rgba(112, 119, 210, 100%);
   color: #fff;
   transition: 0.2s;

   &:hover {
      opacity: 0.9;
   }
}
}

